<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cancer_prevention">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/cancer_app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cancer_Prevention"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Nutrient.Nutrient_bottom_sheet"
            android:exported="true" />
        <activity
            android:name=".korona.korona_test"
            android:exported="true" />
        <activity
            android:name=".Main.Main_bar"
            android:exported="true" />
        <activity
            android:name=".Question_Community.Question_holder"
            android:exported="true" />
        <activity
            android:name=".Question_Community.Question_Write"
            android:exported="true" />
        <activity
            android:name=".Main.Notice.Notice_Activity"
            android:exported="true" />
        <activity
            android:name=".Main.Notice.Notice_holder"
            android:exported="true" />
        <activity
            android:name=".Main.Rx_java_tranning"
            android:exported="true" />
        <activity
            android:name=".room.liver_Screen"
            android:exported="true" />
        <activity
            android:name=".room.Cancer_Room"
            android:exported="true" />
        <activity
            android:name=".Nutrient.nutrient_screen"
            android:exported="true" />
        <activity
            android:name=".Community.Community_Write"
            android:exported="true" />
        <activity
            android:name=".Community.Community_holder"
            android:exported="true" />
        <activity
            android:name=".Community.Community_holder"
            android:exported="true"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".Community.Community_Write"
            android:exported="true"
            tools:ignore="DuplicateActivity,MissingClass" />
        <activity
            android:name=".room.Calendar.Calendar_Room"
            android:exported="true" />
        <activity
            android:name=".room.Room_Activity"
            android:exported="true" />
        <activity
            android:name=".Retrofit.Cancer_Retrofit"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".Main.Intro_Screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>